@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* use multi color  */
.text-primary{
    color: #FF900E;
}
.text-gray{
    color: #424242;
 }
.text-light-gray{
    color: #727272;
 }
 .bg-light{
       background-color: rgb(255, 144, 14, 0.1);
 }

.btn-primary{
background-color:#FF900E ;
color:#ffff;
width: 11.5rem;
height: 4rem;
font-weight:600;
font-size: 1.25rem;
border-radius: 8px;
padding: 20px 25px;
border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}
main>section{
    margin-top: 130px;
}

/* .......................................... */




.navbar{
justify-content: space-between;
align-items: center;

}
.nav-link{
   text-decoration:none;
    font-weight: 500;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
   
}
.navbar , .banner{
    max-width: 1400px;
    margin: 0 auto;
}
.brand{
font-weight: 700;
font-size: 3rem;
}
/* banner related */
.banner-content
{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image
{
    width: 100%;
}
/* team and ffeature  related style  */
.teams{
    align-items: center;
    gap: 20px;
    display: flex;
}
.team-img-container{
    display: grid;
    gap: 24px;
    grid-template-columns:repeat(2 ,1fr);
}
.our-feature{
    margin-left: 130px;
    max-width: 530px;
}
.section-title{
    font-size: 2.5rem;
    font-weight: 700;
}
#quick-list{
     font-weight: 500   ;
}
/* feature and enjoy design */
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.features{
   gap: 140px;
   
}

#Experience-badge{
        padding-bottom: 405px 400px;
        font-size: 1rem;
        font-weight: 500;
        margin-left: -100px;
        margin-top: -100px;
      
}
#Experience-year{
    font-size: 4rem;
    font-weight: 700;
}

/* some facts design  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;

}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description
{
    max-width: 540px;
}


/* sponsor related design */
.sponsor-info
{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns:repeat(5,1fr);
}

/* footer design */

.footer-body{
 width: 100%;
  max-width: 1200px;
  margin: 40px auto 20px auto;
  min-height: 50px;
  border-radius: 8px;
  background: rgb(255, 244, 231);
  align-items: center;
  display: flex;
  justify-content: center;

}
.footer-description{
   
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

 font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}




/* Media queary */
@media screen and (max-width:1080px)
{
.navbar, .nav-links,.teams,.features,.our-feature{
    flex-direction: column;
}   
 .team-img-container,
 .facts-container,
 .sponsor-companies{
 grid-template-columns: repeat(1,1fr);
 }
 .our-feature{
    margin-left: 20px;
 }
 .facts-container{
    justify-items: center;
    gap: 24px;
 }
 .sponsor-companies{
    justify-items: center;
    gap: 50px;
 }
 #Experience-badge{
    margin-top: 20px;
    margin-left: 20px;
 }
 .featured-architect img{
    width: 100%;
}
.footer-body{
    max-width: 95%;
    margin: 20px auto;
    min-height: 50px;
    border-radius: 8px;
    padding: 10px 5px;

}
  .footer-description {
    font-size: 16px;
  }

 
}
@media screen and (max-width:580px)
{
    .teams{
        flex-direction: column;
    }
    .our-feature{
        margin-left: 50px auto; 
    }
      .footer-body {
    width: 95%;
    margin: 10px auto;
    min-height: 50px;
    height: auto;
    border-radius: 6px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-description {
    font-size: 14px;
    line-height: 18px;
    padding: 0 5px;
  }

} 